@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:ital@0;1&display=swap');

:root {
	--text-color: rgb(255, 255, 252);
	--hover: rgb(212, 212, 212, 0.6);
	--base-color: #111010;
	--card-color: rgb(212, 212, 212, 0.1);
	--nav-color: rgb(17, 16, 16, 0.9);
	--pink: rgb(248, 113, 113);
	--yellow: rgb(251, 191, 36);
	--green: rgb(74, 222, 128);
	--blue: rgb(37, 99, 235);
	--purp: rgb(184, 107, 217);
	--textSub: #d4d4d4;
	--font-P: 'Poppins', sans-serif;
}

body {
	margin-left: auto;
	margin-right: auto;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	max-width: 75ch;
	background-color: var(--base-color);
	width: 90%;
}

.main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 5rem;
}

.hero-container {
	display: flex;
}
.hero-title {
	font-family: var(--font-P);
	color: var(--text-color);
	font-size: 35px;
	text-align: left;
	margin: 0;
}

.hero-section {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.hero-section img {
	height: auto;
	max-width: 170px;
	border-radius: 50%;
}

.hero-text {
	font-family: var(--font-P);
	color: var(--textSub);
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
}

.contact-container {
	color: var(--textSub);
	font-family: var(--font-P);
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
}

.contact-container h1 {
	color: var(--text-color);
}

/* ====== */
nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-start;

	width: auto;
	background-color: var(--nav-color);
	margin: 0;
	height: 50px;
}
nav li {
	display: flex;
	align-items: center;
}

nav a {
	color: var(--hover);
	font-family: var(--font-P);
	align-items: center;
	text-decoration: none;
	padding: 0 30px;
	display: flex;
}
nav a.active {
	color: var(--text-color) !important;
}

nav a:hover {
	color: var(--text-color);
}
.smile-nav {
	height: 27px;
}
nav li:nth-child(1) {
	margin-right: auto;
}
.sidebar {
	position: fixed;
	padding: 0;
	top: 50px;
	right: 0;
	height: 90vh;
	width: 320px;
	z-index: 999;
	background-color: white;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.sidebar li {
	width: 100%;
	margin-top: 5px;
}
.sidebar a {
	width: 100%;
	color: black;
	font-size: 20px;
	margin-top: 20px;
}
.sidebar a:hover {
	color: var(--nav-color);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-right: 20px;
}
.menu-btn {
	display: none;
}
.blur-background {
	backdrop-filter: blur;
}

/* About me styles  */
.gridAbout {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 30px auto;
	padding: 0 10px;
	color: var(--pink);
}
.itemAbout {
	flex: 1;
	font-family: var(--font-P);
	color: var(--textSub);
	display: block;
	width: 350px;
}

.itemAbout img {
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	width: 300px;
}

.tlistdiv {
	text-align: center;
	color: var(--textSub);
	font-family: var(--font-P);
	max-width: 800px;
	margin: 30px auto;
	padding: 0 10px;
}

/* About me end */

.icons {
	display: flex;
	align-items: center;
}
.icons img {
	width: 30px;
	height: 30px;
}

.iconName {
	margin-left: 10px;
}
.icons a {
	color: var(--textSub);
}
.icons a:hover {
	color: var(--text-color);
}
.icons button {
	color: var(--textSub);
	font-size: 17px;
	padding: 0;
}

@media (max-width: 495px) {
	.hero-container {
		flex-direction: column;
		max-width: 100%;
	}
	.hero-text {
		text-align: left;
		width: 100%;
	}
	.sidebar {
		width: 100%;
	}
	.dec {
		flex-wrap: wrap;
		justify-content: center;
	}
	.sec {
		flex-wrap: wrap;
	}
	.contain h3,
	h4 {
		margin-right: auto;
	}
	.bio {
		order: 2;
	}
}
@media (max-width: 800px) {
	.hide {
		display: none;
	}
	.menu-btn {
		display: block;
	}
	.hero-container {
		max-width: 100%;
	}
}
@media (min-width: 48rem) {
	.sidebar {
		display: none !important;
	}
	.close {
		display: none;
	}
	.menu-btn {
		display: none;
	}
}
