@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:ital@0;1&display=swap');

:root {
	--text-color: rgb(255, 255, 252);
	--hover: rgb(212, 212, 212, 0.6);
	--base-color: #111010;
	--card-color: rgb(212, 212, 212, 0.1);
	--nav-color: rgb(17, 16, 16, 0.9);
	--pink: rgb(248, 113, 113);
	--yellow: rgb(251, 191, 36);
	--green: rgb(74, 222, 128);
	--blue: rgb(37, 99, 235);
	--purp: rgb(184, 107, 217);
	--textSub: #d4d4d4;
	--font-P: 'Poppins', sans-serif;
}

.hero-container {
	display: flex;
}

body {
	margin-left: auto;
	margin-right: auto;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	max-width: 75ch;
	background-color: var(--base-color);
	width: 90%;
}

.hero-text {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 1em;
	text-align: center;
}
.hero-section {
	display: flex;
	flex-direction: column;
}

.hero-section img {
	height: auto;
	max-width: 200px;
	border-radius: 60%;
}

.hero-title{
	font-family: var(--font-P);
	color: var(--text-color);
	font-size: 35px;
	text-align: left;
	margin: 0;
}
.hero-text {
	font-family: var(--font-P);
	color: var(--textSub);
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
}
.white {
	color: white;
}

.yellow {
	color: var(--yellow);
}

.spin {
	animation: spin 1s linear forwards; /* Adjust duration as needed */
}
@keyframes spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(640deg);
	}
}
.smile {
	overflow-clip-margin: content-box;
	overflow: clip;
	height: 130px;
	transition: transform 1s ease;
}

.card-img {
	height: 50px;
}
a {
	text-decoration: none;
}

a:hover {
	color: var(--text-color);
}


.text-name {
	font-family: var(--font-P);
	color: var(--text-color);
	font-size: 35px;
}

.main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 5rem;
}
.container {
	display: flex;
	justify-content: center;
	line-height: 1.6;
	position: relative;
}

.grid-item {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	text-align: center;
	font: var(--font-P);
	color: var(--text-color);
	outline: 1px solid rgba(235, 7, 204, 0.4);
	box-shadow: 0 0 0.35em -0.1em rgba(235, 7, 204, 0.9);
	background-color: rgba(--card-color);
}

.grid-item:nth-child(5) {
	color: var(--purp);
	outline: 1px solid rgb(184, 107, 217, 0.4);
	box-shadow: 0 0 0.35em -0.1em rgb(184, 107, 217, 0.9); /* Red box shadow with 50% opacity */
}

.grid-item:nth-child(4) {
	color: var(--yellow);
	outline: 1px solid rgba(251, 191, 36, 0.4);
	box-shadow: 0 0 0.35em -0.1em rgba(251, 191, 36, 0.9); /* Red box shadow with 50% opacity */
}
.grid-item:nth-child(3) {
	color: var(--green);
	outline: 1px solid rgba(74, 222, 128, 0.4);
	box-shadow: 0 0 0.35em -0.1em rgba(74, 222, 128, 0.9); /* Red box shadow with 50% opacity */
}
.grid-item:nth-child(2) {
	color: var(--blue);
	outline: 1px solid rgba(37, 99, 235, 0.4);
	box-shadow: 0 0 0.35em -0.1em rgba(37, 99, 235, 0.9); /* Red box shadow with 50% opacity */
}
.grid-item:nth-child(1) {
	color: var(--pink);
	outline: 1px solid rgba(248, 113, 113, 0.4);
	box-shadow: 0 0 0.35em -0.1em rgba(248, 113, 113, 0.9); /* Red box shadow with 50% opacity */
}
.grid-item:nth-child(5):hover {
	color: var(--text-color);
	background-color: rgb(184, 107, 217, 0.5); /* Red box shadow with 50% opacity */
}
.grid-item:nth-child(4):hover {
	color: var(--text-color);
	background-color: rgba(251, 191, 36, 0.5); /* Red box shadow with 90% opacity on hover */
}

.grid-item:nth-child(3):hover {
	color: var(--text-color);
	background-color: rgba(74, 222, 128, 0.5); /* Green box shadow with 90% opacity on hover */
}

.grid-item:nth-child(2):hover {
	color: var(--text-color);
	background-color: rgba(37, 99, 235, 0.5); /* Blue box shadow with 90% opacity on hover */
}
.grid-item:nth-child(1):hover {
	color: var(--text-color);
	background-color: rgba(248, 113, 113, 0.5); /* Blue box shadow with 90% opacity on hover */
}

.card-text {
	font-family: var(--font-P);
	font-size: 17px;
}
/* ====== */
nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: auto;
	background-color: var(--nav-color);
	margin: 0;
	height: 50px;
}
nav li {
	display: flex;
	align-items: center;
}

nav a {
	color: var(--hover);
	font-family: var(--font-P);
	align-items: center;
	text-decoration: none;
	padding: 0 30px;
	display: flex;
}
nav a.active {
	color: var(--text-color) !important;
}

nav a:hover {
	color: var(--text-color);
}
.smile-nav {
	height: 27px;
}
nav li:nth-child(1) {
	margin-right: auto;
}
.sidebar {
	position: fixed;
	padding: 0;
	top: 50px;
	right: 0;
	height: 90vh;
	width: 320px;
	z-index: 999;
	background-color: white;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.sidebar li {
	width: 100%;
	margin-top: 5px;
}
.sidebar a {
	width: 100%;
	color: black;
	font-size: 20px;
	margin-top: 20px;
}
.sidebar a:hover {
	color: var(--nav-color);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-right: 20px;
}
.menu-btn {
	display: none;
}
.blur-background {
	backdrop-filter: blur;
}

/* About me styles  */
.gridAbout {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 30px auto;
	padding: 0 10px;
	color: var(--pink);
}
.itemAbout {
	flex: 1;
	font-family: var(--font-P);
	color: var(--textSub);
	display: block;
	width: 350px;
}

.itemAbout img {
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	width: 300px;
}

.tlistdiv {
	text-align: center;
	color: var(--textSub);
	font-family: var(--font-P);
	max-width: 800px;
	margin: 30px auto;
	padding: 0 10px;
}

table.tierlist {
	border-collapse: collapse;
	margin: 2rem auto;
}

table.tierlist th,
table.tierlist td {
	padding: 1rem;
	text-align: left;
}

table.tierlist th {
	color: #181818;
	text-align: center;
}

table.tierlist th.s {
	background-color: #ff7e7e;
}

table.tierlist th.a {
	background-color: #ffbf7f;
}

table.tierlist th.b {
	background-color: #ffff7f;
}

table.tierlist th.c {
	background-color: #7eff7e;
}

table.tierlist th.d {
	background-color: #7ec0fd;
}

table.tierlist th.f {
	background-color: #7e7ffe;
}

table.tierlist td {
	background-color: #282828;
	width: 100%;
}

table.tierlist td span {
	margin: 10px;
}

table.tierlist tr.alt td {
	background-color: #383838;
}

/* About me end */

/* Project styles */

.gridProject {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 30px auto;
	padding: 0;
	color: var(--blue);
	font-family: var(--font-P);
}

.itemProject {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.itemProject h4 {
	margin-bottom: 2px;
}

.lang {
	margin: 2px;
	color: var(--yellow);
	font-style: italic;
}

.blue {
	color: var(--blue);
}

.dec {
	margin-top: 2px;
	display: flex;
}

.dec img {
	margin-top: 19px;
	width: 228px;
	height: 170px;
	object-fit: contain;
	border-radius: 20px;
}

.name {
	display: flex;
	color: var(--textSub);
}

/* project styles end */

/* exp styles */

.contain {
	text-align: left;
	color: var(--textSub);
	font-family: var(--font-P);
	max-width: 800px;
	margin: 30px auto;
	padding: 0 10px;
}

.sec {
	margin-top: 2px;
	display: flex;
	font-style: italic;
}

.sec > :first-child {
	color: var(--green);
}

.contain h3,
h4 {
	margin: 2px;
}

.jobdec {
	margin-top: 5px;
}
/* exp styles end */

.icons {
	display: flex;
	align-items: center;
}
.icons img {
	width: 30px;
	height: 30px;
}

.iconName {
	margin-left: 10px;
}
.icons a {
	color: var(--textSub);
}
.icons a:hover {
	color: var(--text-color);
}
.icons button {
	color: var(--textSub);
	font-size: 17px;
	padding: 0;
}
.signBtn {
	display: flex;
	color: var(--textSub);
	align-items: center;
	border: 1px solid var(--purp);
	padding: 9px;
	border-radius: 10px;
	background-color: #080808;
	margin-top: 20px;
	margin-bottom: 20px;
}
.signImg {
	margin-right: 10px;
}
.signBtn img {
	width: 25px;
	height: 25px;
}
.guestRow {
	display: flex;
	font-size: 0.875rem;
	width: 100%;
}
.guestName {
	line-height: 1.25rem;
}

.guestCon {
	color: var(--text-color);
	margin-left: 5px;
}

.guestOut {
	color: var(--textSub);
	margin-top: 10px;
	padding: 5px;
}
.wrapper {
	width: 550px;
	max-width: 100%;
	position: relative;
}
.wrapper input {
	width: 100%;
	background-color: #262525;
	color: var(--text-color);
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	border-color: #080808;
	border-radius: 8px;
	border: none;
	padding-right: 90px;
}
.wrapper button {
	position: absolute;
	right: 0;
	top: 10%;
	background-color: #4c4c4c;
	height: 80%;
	width: 60px;
	border-radius: 8px;
	margin-right: 4px;
}
@media (max-width: 495px) {
	.hero-container {
		flex-direction: column;
		max-width: 100%;
	}
	.hero-text {
		text-align: left;
		width: 100%;
	}
	.sidebar {
		width: 100%;
	}
	.dec {
		flex-wrap: wrap;
		justify-content: center;
	}
	.sec {
		flex-wrap: wrap;
	}
	.contain h3,
	h4 {
		margin-right: auto;
	}.bio {
		order: 2;
	}
}
@media (max-width: 800px) {
	.hide {
		display: none;
	}
	.menu-btn {
		display: block;
	}
	.hero-container {
		max-width: 100%;
	}
}
@media (min-width: 48rem) {
	.sidebar {
		display: none !important;
	}
	.close {
		display: none;
	}
	.menu-btn {
		display: none;
	}
}


